body {
    background:#ffffff;
    font-family: Meiryo, YuGothic, serif;
    width:900px;
    margin:20px auto;
}
nav, article, aside, section, footer {
    display:block;
}
nav, article, aside, section, footer {
   background:#ffffff;
   margin:0px 0px 10px;
   padding:10px;
}
article, aside, nav, footer {
    border-radius: 0px;
}

nav {
    background: #ffffff;
    padding:8px;
}
nav ul, nav li {
    list-style-type:none;
    display:inline;
}
nav ul{
    margin-left: -38px;
}

nav li a {
    color: #808080;
    text-decoration: none;
}
nav li {
    padding: 0 23px;
}
nav li:first-child{
    border-left:none;
}
nav li a:hover {
    color: #000000;
}

a.idx{
    color: #000000;
}


article {
    float:left;
    width:650px;
    padding: 10px;
}


section{
    border-radius: 0px;
    background: #ffffff;
}
article section:last-child{
    margin-bottom: 0px;
}


article h1{
	color: #4682b4;
    font-size: 24px;
    margin-left: -10px;
    margin-top: -10px;
    padding: 5px 10px;
}

article h2 {

    font-size: 20px;
    font-weight: bold;
	color: #4682b4;
    margin: 30px 0px 20px;
    padding: 0px;
    height: 20px;
    line-height: 20px;
    text-indent: 0.2em;
}


aside {
	float:right;
	width:200px;
}
aside section:last-child{
    margin-bottom: 0px;
}
aside h1{
    font-size: 20px;
    text-shadow: 0px 0px 2px #000;
    margin-left: -10px;
    margin-top: -10px;
    padding: 2px 5px;
    border-left:7px solid #030;
    border-bottom:1px solid #030;
}
aside ul, aside li {
    list-style-type:square;
    margin-left: -10px;
}

footer {
	clear:both;
	text-align: center;
	padding: 5px;
	font-size: 80%;
}

/* link */
a {
	color: #4682b4;
	text-decoration: underline;
}
a:hover {
	color: #4682b4;
}




.frame {
    float: left;
    margin-right: 25px;   /* ← 横の間隔を広げる */
    margin-bottom: 20px;  /* ← 下の間隔を追加 */
    margin-top: 10px;     /* ← 上にも少し余白 */
    position: relative;
}

/* 枠を付けたい時だけ使う */
.framed:after {
    position: absolute;
    content: "";
    inset: 0;
    box-shadow: inset 0 0 20px #eee;
}

.script {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    letter-spacing: 0.05em;  /* 少しだけ余白を出して上品に */
}
.jp-serif {
    font-family: 'Noto Serif JP', serif;
    font-weight: 400;
}
